@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
.poppins{
  font-family: Silkscreen;
/*}
 body {
  background-image: url("background.jpg");
} 
/*Centering Elements*/
.container {
display: flex;
justify-content: center;
align-items: center;
height: 90vh; 
    }
 .center {
width: 300px;
background-color: rgba(245, 0, 45, 0.75);
padding: 10px;
height: 500px;
opacity: 0.9;
max-width: 60vw;
font-size: 1.5vw;
border-radius: 10px;
       
}
.poppins{ 
color: white;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
